/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Myriad Pro', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #f5f5f5;
    background-color: #007d2f;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    border-left: 1px solid #aaa;
    background-color: #eee;
}

/* base styles end */

/* ===================================================== */
/* ======================= INDEX ======================= */
/* ===================================================== */

/* header */

header {
    background: url('../img/header-bg.jpg') no-repeat center / cover;
    min-height: 100vh;
}

.navbar__link {
    color: #191919 !important;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: right;
}

.navbar__item:not(:last-child) .navbar__link {
    padding-right: 35px;
}

.navbar__link:hover {
    color: #007d2f !important;
}

.navbar__button i {
    font-size: 40px;
}

.header__content {
    padding: 50px 0;
}

.header__content-container {
    margin-top: -150px;
}

.header__title {
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.38px;
    margin-bottom: 30px;
}

.header__text {
    color: #787878;
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 50px;
}

.header__button {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background: #007d2f;
    padding: 20px 50px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.header__button:hover {
    color: #000;
    background: #fff;
    border: 2px solid #007d2f;
}

/* header end */

/* about */

.about {
    padding: 95px 0 40px;
}

.about__title {
    color: #191919;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 45px;
}

.about__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}

/* about end */

/* skills */

.skills {
    padding: 165px 0;
    background: #f8f9f9;
    position: relative;
    overflow: hidden;
}

.skills__title {
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.skills__progress-title {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

.skills__progress-title span {
    margin-left: 20px;
}

.skills__progress {
    background: #d8d8d8;
    height: 3px;
    width: 500px;
    margin-bottom: 40px;
}

.skills__progress-bar {
    background: #007d2f;
}

.skills__image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* skills end */

/* about-work */

.about-work {
    padding: 75px 0 80px;
    background: #007d2f;
}

.about-work__icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10px;
}

.about-work__number {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.about-work__title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    white-space: nowrap;
    margin-bottom: 0;
}

/* about-work end */

/* works */

.works__item {
    width: 25%;
    height: 300px;
    position: relative;
}

.works__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.works__overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 3600px 6235px 2px rgba(32, 22, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.works__item:hover .works__overlay {
    opacity: 1;
}

.more-works {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 40px 0;
    background: #007d2f;
    width: 100%;
    display: block;
    text-align: center;
}

.more-works:hover {
    color: #fff;
}

/* works end */

/* process */

.process {
    padding: 100px 0;
}

.process__title {
    color: #191919;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}

.process__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 50px;
}

.process__video-image {
    width: 100%;
    height: 570px;
    background: url('../img/video-preview.jpg') no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process__video-button {
    width: 85px;
    height: 85px;
    background: #007d2f;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
}

.process__video-button:hover {
    color: #fff;
}

.process__modal-content,
.process__modal-video {
    width: 100%;
}

/* process end */

/* service */

.service {
    background: #f5f5f5;
    padding: 100px 0 45px;
}

.service__icon {
    width: 40px;
    height: 45px;
    object-fit: contain;
    margin-bottom: 30px;
}

.service__title {
    color: #191919;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

.service__subtitle {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
}

/* service end */

/* comments */

.comments {
    background: #007d2f;
    padding: 195px 0 60px;
}

.comments__quote {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 40px;
}

.comments__quote::before {
    content: '“';
    font-size: 25px;
}

.comments__quote::after {
    content: '”';
    font-size: 25px;
}

.comments__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 100px;
}

.comments__carousel-indicators {
    bottom: -30px;
    align-items: center;
}

.comments__dots {
    border: none !important;
    width: 6px !important;
    height: 6px !important;
    background: #b0e8e6 !important;
    border-radius: 50%;
}

.comments__dots.active {
    width: 10px !important;
    height: 10px !important;
    background: #ffffff !important;
}

/* comments end */

/* brands */

.brands {
    padding: 70px 0 30px;
}

.brands__item {
    margin-bottom: 40px;
}

/* brands end */

/* feedback */

.feedback {
    padding: 25px 0 100px;
    background: #f5f5f5;
}

.feedback__title {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.feedback__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}

.feedback__title_margin {
    margin-left: 55px;
}

.feedback__form-inputs {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    padding: 0 15px;
    margin-bottom: 30px;
}

.feedback__form-inputs::placeholder {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.feedback__form-inputs:focus {
    outline: 2px solid #00a13e;
}

.feedback__form-textarea {
    width: 100%;
    height: 170px;
    background: #ffffff;
    border: none;
    resize: none;
    padding: 15px;
    margin-bottom: 25px;
}

.feedback__form-textarea:focus {
    outline: 2px solid #00a13e;
}

.feedback__form-textarea::placeholder {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.feedback__form-button {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 22px 25px;
    background: #007d2f;
    border: none;
}

/* feedback end */

/* footer */

.footer {
    background: #141414;
    padding: 100px 0;
}

.footer__title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer__subtitle {
    color: #bcbcbc;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer__subtitle:last-child {
    margin-bottom: 0;
}

.footer__contacts {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer__contacts:hover {
    color: #bcbcbc;
}

.footer__contacts:last-child {
    font-family: 'Work Sans', sans-serif;
}

.footer__link {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer__link:hover {
    color: #bcbcbc;
}

.footer__list:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
}

/* footer end */


/* ===================================================== */
/* ===================== INDEX END ===================== */
/* ===================================================== */

/* ===================================================== */
/* ======================= HOME ======================== */
/* ===================================================== */

.header_home {
    background: none;
    min-height: auto;
}

.navbar_home {
    background: #fff;
}

.about-home {
    background: #007d2f;
    padding: 110px 0 100px;
}

.about-home__title {
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about-home__subtitle {
    color: #fefefe;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 0;
}

.works__overlay_home:hover {
    box-shadow: none;
    background: rgba(55, 137, 86, 0.85);
    opacity: 1;
}

.navbar__link_active {
    color: #007d2f !important;
}

/* ===================================================== */
/* ====================== HOME END ===================== */
/* ===================================================== */

/* ===================================================== */
/* ======================= ABOUT ======================= */
/* ===================================================== */

.about-about {
    background: rgba(0, 0, 0, 0.8);
    padding: 110px 0;
}

.about-about__title {
    color: #fff;
    font-size: 62px;
    font-weight: 500;
}

.about-about__subtitle {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
}

.me {
    padding: 140px 0;
    background: #f8f9f9;
    position: relative;
    overflow: hidden;
}

.me__image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.me__title {
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
}

.me__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.need {
    padding: 100px 0;
}

.need__title {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

.need__subtitle {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.need__button {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #007d2f;
    padding: 20px 40px;
    border: 2px solid #007d2f;
    transition: 0.3s;
    display: inline-block;
}

.need__button:hover {
    color: #000;
    background: #fff;
}

/* ===================================================== */
/* ===================== ABOUT END ===================== */
/* ===================================================== */

/* ===================================================== */
/* ====================== CONTACT ====================== */
/* ===================================================== */

.info {
    background: #f5f5f5;
    padding: 100px 0;
}

.info__title {
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.info__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.info__link {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
}

.info__link:hover {
    color: #007d2f;
}

.info__link b {
    color: #171717;
    font-weight: 700;
    margin-right: 10px;
}

.feedback_contact {
    padding: 0;
    background: transparent;
}

.map {
    margin-top: 100px;
    position: relative;
}

.map:hover i {
    transform: rotateY(180deg) scale(1.1);
}

.map__image {
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.map i {
    font-size: 30px;
    color: #007d2f;
    position: absolute;
    top: 210px;
    left: 580px;
    transition: 0.5s;
}

/* ===================================================== */
/* ==================== CONTACT END ==================== */
/* ===================================================== */

/* ===================================================== */
/* ====================== PROJECT ====================== */
/* ===================================================== */

.project__item {
    background: #f6f6f6;
    padding: 100px 0;
    position: relative;
}

.project__title {
    color: #171717;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 30px;
}

.project__text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}

.project__text:last-of-type {
    margin-bottom: 60px;
}

.project__list-item {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.project__list-item:not(:last-child) {
    margin-bottom: 12px;
}

.project__list-item b {
    color: #171717;
    font-weight: 700;
    margin-right: 10px;
}

.project__image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.project__indicators {
    background: #007d2f;
    padding: 40px 0;
}

.project__indicators-ol {
    position: static;
    margin: 0 auto;
    width: 20px;
}

.project__indicators li {
    border: none;
    width: 6px;
    height: 6px;
    margin: 2px;
}

.project__prev-button,
.project__next-button {
    top: auto;
    bottom: 0;
    height: 100px;
}

.project__prev-button i,
.project__next-button i {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

.project__prev-button i {
    margin-right: 14px;
}

.project__next-button i {
    margin-left: 14px;
}

.project__prev-text,
.project__next-text {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

/* ===================================================== */
/* ==================== PROJECT END ==================== */
/* ===================================================== */
